/* TODO: inserite il CSS necessario per completare il MHW! */

.choice-grid{
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.choice-grid div{
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    width: 32.5%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
}
.choice-grid img{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    header div span{
        display: none;
    }
    article{
        width: 95%;
    }
    .question-name h1 {
        font-size: 50px;
    }
}
@media (max-width: 500px) {
    .choice-grid div{
        width: 49%;
    }
    .question-name h1 {
        font-size: 40px;
    }
}
.risultato{
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.risultato h1{
    margin: 0;
}
.risultato p{
    margin-top: 18px;
    margin-bottom: 18px;
}
#tasto{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#cecece;
    height:50px;
}
#tasto:hover{
    background-color:#e0e0e0;
}
.opacita{
   opacity: 0.6;
}
.choice-grid div.seleziona{
    background-color:#cfe3ff;
}
